.sobreMi{
    background-color: var(--color-tres);
    width: 100%;
    margin: 2rem auto;
}

.sobreMi__container{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.sobreMi__titulo{
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--color-secundari);
    padding: 2rem 0;
}

.sobreMi__texto{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-secundari);
}

.sobreMi__imagen{
    width: 100px;
    padding-top: 2.2rem;
}
@media screen and (min-width: 1024px) {
    .sobreMi__container{
        max-width: 1024px;
    }
    
}